.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr minmax(300px, 500px) 1fr;

  grid-template-areas: 
  "do doing done"
  "do doing done"
  "do doing done";
}

.do {
  grid-area: do;
}

.list__col-1 {
  grid-area: list-col-1;
}

.list__col-2 {
  grid-area: list-col-2;
}

.list__co3-1 {
  grid-area: list-col-3;
}

.doing {
  grid-area: doing;
}

.done {
  grid-area: done;
}